.answer-header {
  justify-content: right;
}
.avatar {
  padding-left: 8px;
  width: 28px;
  height: 28px;
  display: flex;
  font-weight: bolder;
  font-size: 28px;
  justify-content: center;
  align-items: center;
  font-family: "Noto Color Emoji", sans-serif;
}
.answer-card {
  margin: 8px;
  margin-left: 48px;
  border-radius: 18px 0 18px 18px;
}
